body{
    margin: 0px;
    font-family: "Slabo 27px", serif; 
}

h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}

.yousuf{
    color: rgb(171, 8, 185);
    font-size: 50px;  
}

.first-part{
    background-image: url( images/header-bg.png );
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}

.first-width img{
    width: 100%;
    padding-left: 2%;
    height: 500px;
}
section{
    
    height: 500px;
    padding-bottom: 150px;
    
}

.first-width{
    margin-left: 5%;
}

.first-width{
    width: 30%;
    float: left;
    margin: left 5%;
    padding-left:  5%;
}

.button{
    color: white;
    text-decoration: none;
    background-color: rgb(171, 8, 185);
    padding: 10px 20px ;
    border-radius: 5px;
    font-style: bold;
    font-size: 16px;
}

.secound-part{
    background-image: url( images/biography-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}

.latest{
    text-align: center;
}
.latest-part{
    background-image: url( images/latest-work-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}
.latest-img{


}

.latest-part img{
    width: 30%;
    margin: 1%;
    margin-left: 2%;

}